<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.partials.ejs') %>
<link rel="stylesheet" href="../styles/home.css">
<body>
    
    <section class="Title">
        <h1 class="title-text">BLOGS<span class="dot">.</span></h1>
        <div class="sub-title">
            <p>by Aditya Sai Prem</p>
        </div>
    </section>
    <div class="scroll-arrow-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
        </svg>
    </div>


    <!-- Recent Blogs Section -->
    <section class="recent-blogs">
        <div class="recent-title">
            <p>Recent blogs</p>
        </div>
        <div class="recent-blog-container" id="recent-blogs-list">
            <% blogs.forEach(blog => { %>
                <div class="recent-blog" onclick="window.location.href='/post/<%= blog._id %>'">
                    <div class="recent-blog-title">
                        <h2><%= blog.title %></h2>
                    </div>
                    <div class="recent-blog-content">
                        <p><%= blog.description %></p>
                    </div>
                </div>
            <% }) %>

            <% if (blogs.length === 0) { %>
                <div class="no-blogs-message">
                    <p>No recent blogs to show. Check back later!</p>
                    <div class="view-all-button">
                        <a href="archive">View All</a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
        
    <!-- Bottom Navigation -->
    <%- include('partials/navigation.partial.ejs') %>
    
</body>
</html>