<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.partials.ejs') %>
<link rel="stylesheet" href="../styles/post.css">
<body>
    
    <section class="Title">
        <h1 class="title-text"><%= blog.title %></h1>
        <div class="info">
            <div><p><%= blog.date %></p></div>
            <div><p><%= blog.owner.name %></p></div>
        </div>
    </section>
    
    <section class="description">
        <p><%= blog.description %></p>
    </section>

    <section class="content">
        <p>
            <%= blog.content %>
        </p>
    </section>
    
    <!-- Bottom Navigation -->
        <%- include('partials/navigation.partial.ejs') %>
    
    
</body>
</html>